<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!-- Appender：输出到文件 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name= "File" value= "log\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--日志文件名是否是固定不变的-->
      <param name= "StaticLogFileName" value= "false"/>
      <!--日志文件名格式为:年-月-日.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--日志根据日期滚动-->
      <param name= "RollingStyle" value= "Date"/>
      <!--日志输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
      <!--日志输出等级-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info" /> <!--输出到文件的日志，不包含Debug-->
        <param name="LevelMax" value="Fatal" />
      </filter>
    </appender>
    <!-- Appender：输出到控制台 -->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <!--调试类型日志-->
      <mapping>
        <level value="Debug" />
        <foreColor value="White" />
      </mapping>
      <!--一般类型日志-->
      <mapping>
        <level value="Info" />
        <foreColor value="White, HighIntensity" />
      </mapping>
      <!--警告类型日志-->
      <mapping>
        <level value="Warn" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <!--错误类型日志-->
      <mapping>
        <level value="Error" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <!--致命错误日志-->
      <mapping>
        <level value="Fatal" />
        <backColor value="White, HighIntensity" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <!--日志输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <!--日志输出等级-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Debug" />
        <param name="LevelMax" value="Fatal" />
      </filter>
    </appender>
    <!--注册Appender-->
    <root>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="ColoredConsoleAppender"/>
    </root>
  </log4net>
</configuration>